body {
    background-color: #222;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fdfdfd;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    max-width: 800px;
    margin: 15px;
    padding: 60px;
    background-color: #444;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.hobby-image {
    margin-right: 10px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    margin-bottom: 5px;
}
input, select {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}